language: android
script: "./gradlew build"
android:
  components:
    # The BuildTools version used by your project
    - build-tools-24.0.0

    # The SDK version used to compile your project
    - android-24
